<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="canvas-app">
    <img src="nodejs.png"/>
    <p>Hello, <%= context.user.firstName %>. </p>
</div>
</body>
